<div class="page-brand">
    <a class="link" routerLink="/index">
        <span class="brand">HR
            <span class="brand-tip">MS</span>
        </span>
        <span class="brand-mini">HRMS</span>
    </a>
</div>
<div class="flexbox flex-1">
    <!-- START TOP-LEFT TOOLBAR-->
    <ul class="nav navbar-toolbar">
        <li>
            <a class="nav-link sidebar-toggler js-sidebar-toggler"><i class="ti-menu"></i></a>
        </li>
        <li>
            <form class="navbar-search" action="javascript:;">
                <div class="rel">
                    <span class="search-icon"><i class="ti-search"></i></span>
                    <input class="form-control" placeholder="Search here...">
                </div>
            </form>
        </li>

    </ul>
    <!-- END TOP-LEFT TOOLBAR-->
    <!-- START TOP-RIGHT TOOLBAR-->
    <ul class="nav navbar-toolbar">
        <li class="dropdown dropdown-inbox">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope-o"></i>
                <span class="badge badge-primary envelope-badge">0</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media">
                <li class="dropdown-menu-header">
                    <div>
                        <span><strong>0 New</strong> Messages</span>
                        <a class="pull-right" href="mailbox.html">view all</a>
                    </div>
                </li>
                <li class="list-group list-group-divider scroller" data-height="240px" data-color="#71808f">
                    <div>

                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown dropdown-notification">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell-o rel"><span class="notify-signal"></span></i></a>
            <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media">
                <li class="dropdown-menu-header">
                    <div>
                        <span><strong>0 New</strong> Notifications</span>
                        <a class="pull-right" href="javascript:;">view all</a>
                    </div>
                </li>
                <li class="list-group list-group-divider scroller" data-height="240px" data-color="#71808f">
                    <div>

                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown dropdown-user">
            <a class="nav-link dropdown-toggle link" data-toggle="dropdown">
                <img src="./assets/img/admin-avatar.png" />
                <span></span>Admin<i class="fa fa-angle-down m-l-5"></i></a>
            <ul class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" [routerLink]="['/profile']" routerLinkActive="router-link-active"><i class="fa fa-user"></i>Profile</a>
                <a class="dropdown-item" [routerLink]="['/settings']" routerLinkActive="router-link-active"><i class="fa fa-cog"></i>Settings</a>
                <a class="dropdown-item" [routerLink]="['/support']" href="javascript:;"><i class="fa fa-support"></i>Support</a>
                <li class="dropdown-divider"></li>
                <a class="dropdown-item" [routerLink]="['/login']"><i class="fa fa-power-off"></i>Logout</a>
            </ul>
        </li>
    </ul>
    <!-- END TOP-RIGHT TOOLBAR-->
</div>