<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Variable Pay</div>
                </div>
                <div class="ibox-body">
                    <ul class="nav nav-tabs tabs-line">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tab-7-1" data-toggle="tab"><i
                                    class="fa fa-line-chart"></i> Variable Pay List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-7-2" data-toggle="tab"><i class="fa fa-plus"></i> Add
                                Variable-Pay Detail</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-7-3" data-toggle="tab"><i class="fa fa-pencil-square-o"></i> Update
                                Variable-Pay Detail</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-7-1">
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <p>Select Employee</p>
                                </div>
                                <div class="col-4">
                                    <ng-select [items]="allEmp" bindLabel="name" bindValue="emp_id" [(ngModel)]="selectedEmpId" (change)="getVarpayinfo()">
                                    </ng-select>
                                </div>
                            </div>
                            <br>
                            <mat-form-field style="margin-left: 2%">
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                            </mat-form-field>
                            <div class="example-container">

                                <table mat-table [dataSource]="datasource" matSort>

                                    <!-- Position Column -->
                                    <ng-container matColumnDef="emp_id">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> ID </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.emp_id}} </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="emp_name">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Name </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.emp_first_name}} {{element.emp_middle_name}} {{element.emp_last_name}} </td>
                                    </ng-container>

                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="pay_cd">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Pay Type </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.pay_cd}} </td>
                                    </ng-container>

                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="pay_type_cd">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> PAY/DED </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.pay_type_cd}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="amount">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Amount </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.amount}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="fin_year">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Fin Year </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.fin_year}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="month">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Month </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.month}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Status </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.status}} </td>
                                    </ng-container>


                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Action </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right">
                                            <button class="btn btn-primary">Update</button>
                                            <button class="btn btn-danger" (click)="deleteVarPay(element)">Delete</button>

                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>

                                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-7-2">
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <p>Select Employee</p>
                                </div>
                                <div class="col-4">
                                    <ng-select [items]="allEmp" bindLabel="name" bindValue="emp_id" [(ngModel)]="variablPayObj['emp_id']">
                                    </ng-select>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <p>Select Pay Type</p>
                                </div>
                                <div class="col-4">
                                    <input class="form-control" type="text" [(ngModel)]="variablPayObj['pay_cd']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <p>Choose Payable/Deduction</p>
                                </div>
                                <div class="col-4">
                                    <input class="form-control" type="text" [(ngModel)]="variablPayObj['pay_type_cd']">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <p>Choose Fin Year</p>
                                </div>
                                <div class="col-4">
                                    <input class="form-control" type="number" [(ngModel)]="variablPayObj['fin_year']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <p>Choose Month</p>
                                </div>
                                <div class="col-4">
                                    <input class="form-control" type="number" [(ngModel)]="variablPayObj['month']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <p>Enter Amount</p>
                                </div>
                                <div class="col-4">
                                    <input class="form-control" type="number" [(ngModel)]="variablPayObj['amount']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <button class="btn btn-primary" (click)="submitVarPay()">SUBMIT</button>
                                </div>

                            </div>
                            <br>
                        </div>

                        <div class="tab-pane fade" id="tab-7-3">
                            <div class="row">
                                <div class="col-md-12">

                                    <br>
                                    <div class="row">
                                        <div class="col-3 text-right">
                                            <h6>Select Employee :</h6>
                                        </div>
                                        <div class="col-3">
                                            <select matNativeControl id="mySelectId" class="form-control">
                                                <option value="" disabled selected></option>
                                                <option value="male">Rajan</option>
                                                <option value="female">Ankur</option>
                                                <option value="other">Rahul</option>
                                            </select>
                                        </div>
                                        <div class="col-3 text-right">
                                            <h6>Pay Code :</h6>
                                        </div>
                                        <div class="col-3">
                                            <input class="form-control">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-3 text-right">
                                            <h6>Paytype Code :</h6>
                                        </div>
                                        <div class="col-3">
                                            <input class="form-control">
                                        </div>
                                        <div class="col-3 text-right">
                                            <h6>Amount :</h6>
                                        </div>
                                        <div class="col-3">
                                            <input class="form-control">
                                        </div>

                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-3 text-right">
                                            <h6>Effective Date :</h6>
                                        </div>
                                        <div class="col-3">
                                            <input type="date" class="form-control">
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <button class="btn btn-primary btn-fix">UPDATE</button>
                                        </div>

                                    </div>
                                    <br>


                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>


        </div>

    </div>
</div>