<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Personal Info</div>
                </div>
                <div class="ibox-body">
                    <ul class="nav nav-tabs tabs-line">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tab-2-1" data-toggle="tab"><i class="fa fa-line-chart"></i> Employee List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-2-2" data-toggle="tab"><i class="fa fa-heartbeat"></i> Update Personal Info</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-2-1">
                            <table class="table table-striped table-bordered table-hover" id="example-table" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>SR NO</th>
                                        <th>Emp Id</th>
                                        <th>Emp Name</th>
                                        <th>Pri Phone No</th>
                                        <th>Comp Email</th>
                                        <th>Gender</th>
                                        <th>Personal Email</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>SR NO</th>
                                        <th>Emp Id</th>
                                        <th>Emp Name</th>
                                        <th>Pri Phone No</th>
                                        <th>Comp Email</th>
                                        <th>Gender</th>
                                        <th>Personal Email</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr *ngFor="let ob of data; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{ob.emp_id}}</td>
                                        <td>{{ob.emp_first_name}} {{ob.emp_middle_name}} {{ob.emp_last_name}}</td>
                                        <td>{{ob.emp_primary_phone_no}}</td>
                                        <td>{{ob.emp_company_email}}</td>
                                        <td>{{ob.emp_gender}}</td>
                                        <td>{{ob.emp_personal_email}}</td>
                                        <td>
                                            <button class="btn btn-primary">More</button>
                                            <button class="btn btn-warning">Update</button>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="tab-2-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="ibox">
                                        <div class="ibox-head">
                                            <div class="ibox-title">Update Personal Info</div>
                                        </div>
                                        <div class="ibox-body">
                                            <br>
                                            <div class="row">
                                                <div class="col-3 text-right">
                                                    <h6>Select Employee :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <select matNativeControl id="mySelectId" class="form-control">
                                                      <option value="">-Select Employee-</option>
                                                      <option value="male">Rajan</option>
                                                      <option value="female">Ankur</option>
                                                      <option value="other">Rahul</option>
                                                  </select>
                                                </div>

                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-3 text-right">
                                                    <h6>First Name :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input class="form-control">
                                                </div>
                                                <div class="col-3 text-right">
                                                    <h6>Middle Name :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input class="form-control">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-3 text-right">
                                                    <h6>Last Name :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input class="form-control">
                                                </div>
                                                <div class="col-3 text-right">
                                                    <h6>Primary Phone No. :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="number" class="form-control">
                                                </div>

                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-3 text-right">
                                                    <h6>Secondary Phone No :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="col-3 text-right">
                                                    <h6>Primary Email:</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" class="form-control">
                                                </div>

                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-3 text-right">
                                                    <h6>Company Email:</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="col-3 text-right">
                                                    <h6>Father's Name</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" class="form-control">
                                                </div>

                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-3 text-right">
                                                    <h6>Husband Name :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="texy" class="form-control">
                                                </div>
                                                <div class="col-3 text-right">
                                                    <h6>Nationality :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" class="form-control">
                                                </div>

                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-3 text-right">
                                                    <h6>Permanent State :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" ng-model="per.state" ng-change="per_Address && update()" class="form-control">
                                                </div>
                                                <div class="col-3 text-right">
                                                    <h6>Temprary State :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" class="form-control" ng-model="temp.state" ng-disabled="per_Address" />
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-3 text-right">
                                                    <h6>Permanent District :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" ng-model="per.district" ng-change="per_Address && update()" class="form-control">
                                                </div>
                                                <div class="col-3 text-right">
                                                    <h6>Temprary District :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" class="form-control" ng-model="temp.district" ng-disabled="per_Address" />
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-3 text-right">
                                                    <h6>Permanent Address Line 1 :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" ng-model="per.addressline1" ng-change="per_Address && update()" class="form-control">
                                                </div>
                                                <div class="col-3 text-right">
                                                    <h6>Temprary Address Line 1 :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" class="form-control" ng-model="temp.addressline1" ng-disabled="per_Address" />
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-3 text-right">
                                                    <h6>Permanent Address Line 2 :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" ng-model="per.addressline2" ng-change="per_Address && update()" class="form-control">
                                                </div>
                                                <div class="col-3 text-right">
                                                    <h6>Temprary Address Line 2 :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" class="form-control" ng-model="temp.addressline2" ng-disabled="per_Address" />
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-3 text-right">
                                                    <h6>Permanent Zip Code :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" ng-model="per.zip" ng-change="per_Address && update()" class="form-control">
                                                </div>
                                                <div class="col-3 text-right">
                                                    <h6>Temprary Zip Code :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" class="form-control" ng-model="temp.zip" ng-disabled="per_Address" />
                                                </div>

                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-3 text-right">
                                                    <h6>Gender:</h6>
                                                </div>
                                                <div class="col-3">
                                                    <select matNativeControl id="mySelectId" class="form-control">
                                          <option value="">-Select Gender-</option>
                                          <option value="male">Male</option>
                                          <option value="female">Female</option>
                                          <option value="other">Other</option>
                                      </select>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <h6>Marital Status :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <select matNativeControl id="mySelectId" class="form-control">
                                          <option value="">-Select Marital Status-</option>
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                            <option value="Widowed">Widowed</option>
                            <option value="Separated">Separated</option>
                            <option value="Divorced">Divorced</option>
                                      </select>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-3 text-right">
                                                    <h6>Offer/Joining Letter No :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="col-3 text-right">
                                                    <h6>Joining Date :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="date" class="form-control">
                                                </div>

                                            </div>
                                            <br>

                                            <br>
                                            <div class="row">
                                                <div class="col-12 text-center">
                                                    <button class="btn btn-primary btn-fix">SUBMIT</button>
                                                </div>

                                            </div>
                                            <br>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <br>
                </div>
            </div>


        </div>

    </div>
</div>