<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Personal Info</div>
                </div>
                <div class="ibox-body">
                    <ul class="nav nav-tabs tabs-line">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tab-2-1" data-toggle="tab"><i class="fa fa-line-chart"></i> Employee List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-2-2" data-toggle="tab"><i class="fa fa-pencil-square-o"></i> Update</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-2-1">
                            <mat-form-field style="margin-left: 2%">
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                            </mat-form-field>
                            <div class="example-container">

                                <table mat-table [dataSource]="datasource" matSort>

                                    <!-- Position Column -->
                                    <ng-container matColumnDef="emp_id">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> ID </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.emp_id}} </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="emp_name">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Name </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.emp_first_name}} {{element.emp_middle_name}} {{element.emp_last_name}} </td>
                                    </ng-container>

                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="emp_primary_phone_no">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Phone No. </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.emp_primary_phone_no}} </td>
                                    </ng-container>

                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="emp_personal_email">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Email </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.emp_personal_email}}, {{element.emp_company_email}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="emp_gender">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Gender </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.emp_gender}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="dob">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> DOB </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.dob}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="joining_date">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Joining Date </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.joining_date}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="offer_letter_no">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Offer Letter </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.offer_letter_no}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> status </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.status}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Action </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right">
                                            <button class="btn btn-primary" (click)="openUpdate(element)">Update</button>
                                            <button class="btn btn-danger" (click)="deleteEmployee(element)">Delete</button>

                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>

                                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-2-2">

                            <br>
                            <div class="row">
                                <div class="col-12 text-center">
                                    Employee ID : {{empObj['emp_id']}}
                                </div>
                            </div>

                            <br>
                            <div class="row">
                                <div class="col-4">
                                    <hr style="color: black;">
                                </div>
                                <div class="col-4 text-center">
                                    <h6>Personal Info</h6>
                                </div>
                                <div class="col-4">
                                    <hr style="color: black;">
                                </div>
                            </div>
                            <br>


                            <div class="row">
                                <div class="col-3">
                                    <h6>First Name :</h6>
                                </div>
                                <div class="col-3">
                                    <input class="form-control" [(ngModel)]="empObj['emp_first_name']">
                                </div>
                                <div class="col-3">
                                    <h6>Middle Name :</h6>
                                </div>
                                <div class="col-3">
                                    <input class="form-control" [(ngModel)]="empObj['emp_middle_name']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <h6>Last Name :</h6>
                                </div>
                                <div class="col-3">
                                    <input class="form-control" [(ngModel)]="empObj['emp_last_name']">
                                </div>
                                <div class="col-3">
                                    <h6>Primary Phone No. :</h6>
                                </div>
                                <div class="col-3">
                                    <input type="number" class="form-control" [(ngModel)]="empObj['emp_primary_phone_no']">
                                </div>

                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <h6>Secondary Phone No :</h6>
                                </div>
                                <div class="col-3">
                                    <input type="text" class="form-control" [(ngModel)]="empObj['emp_secondary_phone_no']">
                                </div>
                                <div class="col-3">
                                    <h6>Primary Email:</h6>
                                </div>
                                <div class="col-3">
                                    <input type="text" class="form-control" [(ngModel)]="empObj['emp_personal_email']">
                                </div>

                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <h6>Company Email:</h6>
                                </div>
                                <div class="col-3">
                                    <input type="text" class="form-control" [(ngModel)]="empObj['emp_company_email']">
                                </div>
                                <div class="col-3">
                                    <h6>Father's Name</h6>
                                </div>
                                <div class="col-3">
                                    <input type="text" class="form-control" [(ngModel)]="empObj['emp_father_name']">
                                </div>

                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <h6>Husband Name/Wife Name :</h6>
                                </div>
                                <div class="col-3">
                                    <input type="texy" class="form-control" [(ngModel)]="empObj['emp_husband_name']">
                                </div>
                                <div class="col-3">
                                    <h6>Nationality :</h6>
                                </div>
                                <div class="col-3">
                                    <input type="text" class="form-control" [(ngModel)]="empObj['emp_nationality']">
                                </div>

                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <h6>Gender:</h6>
                                </div>
                                <div class="col-3">
                                    <input type="text" class="form-control" [(ngModel)]="empObj['emp_gender']">

                                </div>
                                <div class="col-3">
                                    <h6>Marital Status :</h6>
                                </div>
                                <div class="col-3">
                                    <input type="text" class="form-control" [(ngModel)]="empObj['marital_status']">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <h6>Offer/Joining Letter No :</h6>
                                </div>
                                <div class="col-3">
                                    <input type="text" class="form-control" [(ngModel)]="empObj['offer_letter_no']">
                                </div>
                                <div class="col-3">
                                    <h6>Joining Date :</h6>
                                </div>
                                <div class="col-3">
                                    <input type="date" class="form-control" [(ngModel)]="empObj['joining_date']">
                                </div>

                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <h6>Date Of Birth :</h6>
                                </div>
                                <div class="col-3">
                                    <input type="text" class="form-control" [(ngModel)]="empObj['dob']">
                                </div>


                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4">
                                    <hr style="color: black;">
                                </div>
                                <div class="col-4 text-center">
                                    <h6>Permanent Address</h6>
                                </div>
                                <div class="col-4">
                                    <hr style="color: black;">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <h6>State :</h6>
                                </div>
                                <div class="col-3">
                                    <input type="text" class="form-control" [(ngModel)]="empObj['emp_per_state']">
                                </div>
                                <div class="col-3">
                                    <h6>District :</h6>
                                </div>
                                <div class="col-3">
                                    <input type="text" class="form-control" [(ngModel)]="empObj['emp_per_district']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <h6>Address Line 1 :</h6>
                                </div>
                                <div class="col-3">
                                    <input type="text" class="form-control" [(ngModel)]="empObj['emp_per_address_line1']">
                                </div>
                                <div class="col-3">
                                    <h6>Address Line 2 :</h6>
                                </div>
                                <div class="col-3">
                                    <input type="text" class="form-control" [(ngModel)]="empObj['emp_per_address_line2']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <h6>Zip Code :</h6>
                                </div>
                                <div class="col-3">
                                    <input type="text" class="form-control" [(ngModel)]="empObj['emp_per_zip_cd']">
                                </div>
                                <div class="col-3">
                                    <h6>Landmark :</h6>
                                </div>
                                <div class="col-3">
                                    <input type="text" class="form-control" [(ngModel)]="empObj['emp_per_landmark']" />
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4">
                                    <hr style="color: black;">
                                </div>
                                <div class="col-4 text-center">
                                    <h6>Local Address</h6>
                                </div>
                                <div class="col-4">
                                    <hr style="color: black;">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <h6>State :</h6>
                                </div>
                                <div class="col-3">
                                    <input type="text" class="form-control" [(ngModel)]="empObj['emp_temp_state']">
                                </div>
                                <div class="col-3">
                                    <h6>District :</h6>
                                </div>
                                <div class="col-3">
                                    <input type="text" class="form-control" [(ngModel)]="empObj['emp_temp_district']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <h6>Address Line 1 :</h6>
                                </div>
                                <div class="col-3">
                                    <input type="text" class="form-control" [(ngModel)]="empObj['emp_temp_address_line1']">
                                </div>
                                <div class="col-3">
                                    <h6>Address Line 2 :</h6>
                                </div>
                                <div class="col-3">
                                    <input type="text" class="form-control" [(ngModel)]="empObj['emp_temp_address_line2']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <h6>Zip Code :</h6>
                                </div>
                                <div class="col-3">
                                    <input type="text" class="form-control" [(ngModel)]="empObj['emp_temp_zip_cd']">
                                </div>
                                <div class="col-3">
                                    <h6>Landmark :</h6>
                                </div>
                                <div class="col-3">
                                    <input type="text" class="form-control" [(ngModel)]="empObj['emp_temp_landmark']" />
                                </div>
                            </div>
                            <br>





                            <div class="row">
                                <div class="col-12 text-center">
                                    <button class="btn btn-primary" (click)="updateInfo()">SUBMIT</button>
                                </div>

                            </div>
                            <br>

                        </div>

                    </div>
                    <br>
                </div>
            </div>


        </div>

    </div>
</div>