<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Personal Info</div>
                </div>
                <div class="ibox-body">
                    <ul class="nav nav-tabs tabs-line">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tab-2-1" data-toggle="tab"><i class="fa fa-line-chart"></i> Employee List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-2-2" data-toggle="tab"><i class="fa fa-pencil-square-o"></i> Update</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-2-1">
                            <mat-form-field style="margin-left: 2%">
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                            </mat-form-field>
                            <div class="example-container">

                                <table mat-table [dataSource]="datasource" matSort>

                                    <!-- Position Column -->
                                    <ng-container matColumnDef="emp_id">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> ID </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.emp_id}} </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="emp_name">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Name </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.emp_first_name}} {{element.emp_middle_name}} {{element.emp_last_name}} </td>
                                    </ng-container>

                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="emp_primary_phone_no">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Phone No. </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.emp_primary_phone_no}} </td>
                                    </ng-container>

                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="emp_personal_email">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Email </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.emp_personal_email}}, {{element.emp_company_email}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="emp_gender">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Gender </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.emp_gender}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="dob">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> DOB </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.dob}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="joining_date">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Joining Date </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.joining_date}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="offer_letter_no">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Offer Letter </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.offer_letter_no}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> status </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.status}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Action </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right">
                                            <button class="btn btn-primary">Update</button>
                                            <button class="btn btn-danger" (click)="deleteEmployee(element)">Delete</button>

                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>

                                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-2-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="ibox">
                                        <div class="ibox-head">
                                            <div class="ibox-title">Update Personal Info</div>
                                        </div>
                                        <div class="ibox-body">
                                            <br>
                                            <div class="row">
                                                <div class="col-3 text-right">
                                                    <h6>Select Employee :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <select matNativeControl id="mySelectId" class="form-control">
                                                      <option value="">-Select Employee-</option>
                                                      <option value="male">Rajan</option>
                                                      <option value="female">Ankur</option>
                                                      <option value="other">Rahul</option>
                                                  </select>
                                                </div>

                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-3 text-right">
                                                    <h6>First Name :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input class="form-control">
                                                </div>
                                                <div class="col-3 text-right">
                                                    <h6>Middle Name :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input class="form-control">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-3 text-right">
                                                    <h6>Last Name :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input class="form-control">
                                                </div>
                                                <div class="col-3 text-right">
                                                    <h6>Primary Phone No. :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="number" class="form-control">
                                                </div>

                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-3 text-right">
                                                    <h6>Secondary Phone No :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="col-3 text-right">
                                                    <h6>Primary Email:</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" class="form-control">
                                                </div>

                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-3 text-right">
                                                    <h6>Company Email:</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="col-3 text-right">
                                                    <h6>Father's Name</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" class="form-control">
                                                </div>

                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-3 text-right">
                                                    <h6>Husband Name :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="texy" class="form-control">
                                                </div>
                                                <div class="col-3 text-right">
                                                    <h6>Nationality :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" class="form-control">
                                                </div>

                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-3 text-right">
                                                    <h6>Permanent State :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" ng-model="per.state" ng-change="per_Address && update()" class="form-control">
                                                </div>
                                                <div class="col-3 text-right">
                                                    <h6>Temprary State :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" class="form-control" ng-model="temp.state" ng-disabled="per_Address" />
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-3 text-right">
                                                    <h6>Permanent District :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" ng-model="per.district" ng-change="per_Address && update()" class="form-control">
                                                </div>
                                                <div class="col-3 text-right">
                                                    <h6>Temprary District :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" class="form-control" ng-model="temp.district" ng-disabled="per_Address" />
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-3 text-right">
                                                    <h6>Permanent Address Line 1 :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" ng-model="per.addressline1" ng-change="per_Address && update()" class="form-control">
                                                </div>
                                                <div class="col-3 text-right">
                                                    <h6>Temprary Address Line 1 :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" class="form-control" ng-model="temp.addressline1" ng-disabled="per_Address" />
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-3 text-right">
                                                    <h6>Permanent Address Line 2 :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" ng-model="per.addressline2" ng-change="per_Address && update()" class="form-control">
                                                </div>
                                                <div class="col-3 text-right">
                                                    <h6>Temprary Address Line 2 :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" class="form-control" ng-model="temp.addressline2" ng-disabled="per_Address" />
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-3 text-right">
                                                    <h6>Permanent Zip Code :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" ng-model="per.zip" ng-change="per_Address && update()" class="form-control">
                                                </div>
                                                <div class="col-3 text-right">
                                                    <h6>Temprary Zip Code :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" class="form-control" ng-model="temp.zip" ng-disabled="per_Address" />
                                                </div>

                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-3 text-right">
                                                    <h6>Gender:</h6>
                                                </div>
                                                <div class="col-3">
                                                    <select matNativeControl id="mySelectId" class="form-control">
                                          <option value="">-Select Gender-</option>
                                          <option value="male">Male</option>
                                          <option value="female">Female</option>
                                          <option value="other">Other</option>
                                      </select>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <h6>Marital Status :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <select matNativeControl id="mySelectId" class="form-control">
                                          <option value="">-Select Marital Status-</option>
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                            <option value="Widowed">Widowed</option>
                            <option value="Separated">Separated</option>
                            <option value="Divorced">Divorced</option>
                                      </select>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-3 text-right">
                                                    <h6>Offer/Joining Letter No :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="col-3 text-right">
                                                    <h6>Joining Date :</h6>
                                                </div>
                                                <div class="col-3">
                                                    <input type="date" class="form-control">
                                                </div>

                                            </div>
                                            <br>

                                            <br>
                                            <div class="row">
                                                <div class="col-12 text-center">
                                                    <button class="btn btn-primary btn-fix">SUBMIT</button>
                                                </div>

                                            </div>
                                            <br>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <br>
                </div>
            </div>


        </div>

    </div>
</div>