<div class="page-content fade-in-up">
    <div class="row">

        <div class="col-lg-12 col-md-8">
            <div class="ibox">
                <div class="ibox-body">
                    <ul class="nav nav-tabs tabs-line">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tab-1" data-toggle="tab"><i class="ti-bar-chart"></i> Overview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-2" data-toggle="tab"><i class="ti-settings"></i> Update Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-3" data-toggle="tab"><i class="ti-announcement"></i> Change Password</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-1">
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <img src="./assets/img/admin-avatar.png" width="45px" />
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    <h6>First Name : </h6>
                                </div>
                                <div class="col-4">
                                    {{profileInfo['first_name']}}
                                </div>
                            </div>

                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    <h6>Last Name : </h6>
                                </div>
                                <div class="col-4">
                                    {{profileInfo['last_name']}}
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    <h6>Email : </h6>
                                </div>
                                <div class="col-4">
                                    {{profileInfo['email']}}
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    <h6>Phone No : </h6>
                                </div>
                                <div class="col-4">
                                    {{profileInfo['phone_no']}}
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="tab-2">
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    <h6>First Name : </h6>
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" [(ngModel)]="updateObj['first_name']">
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-4 text-right">
                                    <h6>Last Name : </h6>
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" [(ngModel)]="updateObj['last_name']">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    <h6>Email : </h6>
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" [(ngModel)]="updateObj['email']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    <h6>Phone No : </h6>
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" [(ngModel)]="updateObj['phone_no']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-9 text-center">
                                    <button class="btn btn-primary" (click)="updateInfo()">Submit</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-3">
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    <h6>Enter Old Password : </h6>
                                </div>
                                <div class="col-4">
                                    <input type="password" class="form-control" [(ngModel)]="passwordObj['old_password']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    <h6>Enter New Password : </h6>
                                </div>
                                <div class="col-4">
                                    <input type="password" class="form-control" [(ngModel)]="passwordObj['password']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    <h6>Confirm New Password : </h6>
                                </div>
                                <div class="col-4">
                                    <input type="password" class="form-control" [(ngModel)]="passwordObj['confirm_password']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-9 text-center">
                                    <button class="btn btn-primary" (click)="updatePassword()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>