<div class="content">
    <div class="brand">
        <a class="link">
            <img src="./assets/img/logo.png">
        </a>
    </div>
    <div style="background-color: #fff; padding: 15px 20px 20px 20px;">
        <h2 class="login-title">Register</h2>
        <div class="form-group">
            <div class="input-group-icon right">
                <div class="input-icon"><i class="fa fa-envelope"></i></div>
                <input class="form-control" placeholder="Enter Email" [(ngModel)]="accountObj['email']">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group-icon right">
                <div class="input-icon"><i class="fa fa-phone"></i></div>
                <input class="form-control" placeholder="Enter Phone No" [(ngModel)]="accountObj['phone_no']">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group-icon right">
                <div class="input-icon"><i class="fa fa-lock font-16"></i></div>
                <input class="form-control" type="password" placeholder="Enter Password
    " [(ngModel)]="accountObj['password']">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group-icon right">
                <div class="input-icon"><i class="fa fa-lock font-16"></i></div>
                <input class="form-control" type="password" placeholder="Confirm Password
    " [(ngModel)]="accountObj['confirm_password']">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group-icon right">
                <div class="input-icon"><i class="fa fa-industry"></i></div>
                <input class="form-control" placeholder="Enter Organisation Short Name
    " [(ngModel)]="accountObj['short_name']">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group-icon right">
                <div class="input-icon"><i class="fa fa-industry"></i></div>
                <input class="form-control" placeholder="Enter Organisation Full Name
    " [(ngModel)]="accountObj['full_name']">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group-icon right">
                <div class="input-icon"><i class="fa fa-industry"></i></div>
                <input class="form-control" placeholder="Enter Industry Type
    " [(ngModel)]="accountObj['ind_type']">
            </div>
        </div>
        
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-primary" (click)="createAccount()">Submit</button>
        </div>

    </div>
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-link" [routerLink]="['/login']" routerLinkActive="router-link-active">Login Here ?</button>
        </div>

    </div>

    </div>
    <!-- <div id="register-form">



        <div class="text-center">Already a member?
            <a class="color-blue" routerLink="/login">Login here</a>
        </div>
    </div> -->
</div>