<div class="content">
    <div class="brand">
        <a class="link">
            <img src="./assets/img/logo.png">

        </a>
    </div>
    <div class="row">
        <div class="col-6 text-right">
            <h6>Enter Email</h6>
        </div>
        <div class="col-6">
            <input class="form-control" [(ngModel)]="accountObj['email']">
        </div>
    </div>
    <div class="row">
        <div class="col-6 text-right">
            <h6>Enter Phone No</h6>
        </div>
        <div class="col-6">
            <input class="form-control" [(ngModel)]="accountObj['phone_no']">
        </div>
    </div>
    <div class="row">
        <div class="col-6 text-right">
            <h6>Enter Password</h6>
        </div>
        <div class="col-6">
            <input class="form-control" [(ngModel)]="accountObj['password']">
        </div>
    </div>
    <div class="row">
        <div class="col-6 text-right">
            <h6>Confirm Password</h6>
        </div>
        <div class="col-6">
            <input class="form-control" [(ngModel)]="accountObj['confirm_password']">
        </div>
    </div>
    <div class="row">
        <div class="col-6 text-right">
            <h6>Enter Organisation Short Name</h6>
        </div>
        <div class="col-6">
            <input class="form-control" [(ngModel)]="accountObj['short_name']">
        </div>
    </div>
    <div class="row">
        <div class="col-6 text-right">
            <h6>Enter Organisation Full Name</h6>
        </div>
        <div class="col-6">
            <input class="form-control" [(ngModel)]="accountObj['full_name']">
        </div>
    </div>
    <div class="row">
        <div class="col-6 text-right">
            <h6>Enter Industry Type</h6>
        </div>
        <div class="col-6">
            <input class="form-control" [(ngModel)]="accountObj['ind_type']">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-primary" (click)="createAccount()">Submit</button>
        </div>

    </div>
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-link">Forgot Password ?</button>
        </div>

    </div>
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-link" [routerLink]="['/login']" routerLinkActive="router-link-active">Login Here ?</button>
        </div>

    </div>


    <!-- <div id="register-form">



        <div class="text-center">Already a member?
            <a class="color-blue" routerLink="/login">Login here</a>
        </div>
    </div> -->
</div>