<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title" style="text-align: center;">Joining</div>
                </div>
                <div class="ibox-body">
                    <br>
                    <div class="row">
                        <div class="col-3">
                            <p>What is first name ?</p>
                        </div>
                        <div class="col-4">
                            <input class="form-control" [(ngModel)]="joiningObj['emp_first_name']">
                        </div>

                    </div>
                    <br>
                    <div class="row">

                        <div class="col-3">
                            <p>Middle Name (If Any) (Optional)</p>
                        </div>
                        <div class="col-4">
                            <input class="form-control" [(ngModel)]="joiningObj['emp_middle_name']">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-3">
                            <p>What is Last Name ?</p>
                        </div>
                        <div class="col-4">
                            <input class="form-control" [(ngModel)]="joiningObj['emp_last_name']">
                        </div>


                    </div>
                    <br>
                    <div class="row">
                        <div class="col-3">
                            <p>Personal Email Address</p>
                        </div>
                        <div class="col-4">
                            <input class="form-control" [(ngModel)]="joiningObj['emp_personal_email']">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-3">
                            <p>Personal Phone No :</p>
                        </div>
                        <div class="col-4">
                            <input type="number" class="form-control" [(ngModel)]="joiningObj['emp_primary_phone_no']">
                        </div>


                    </div>
                    <br>
                    <div class="row">
                        <div class="col-3">
                            <p>Gender</p>
                        </div>
                        <div class="col-4">
                            <ng-select [items]="gender" bindLabel="value" bindValue="code" [(ngModel)]="joiningObj['emp_gender']">
                            </ng-select>

                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-3">
                            <p>Date of Birth</p>
                        </div>
                        <div class="col-4">
                            <input type="date" class="form-control" [(ngModel)]="joiningObj['dob']">


                        </div>
                    </div>

                    <br>
                    <div class="row">

                        <div class="col-3">
                            <p>Offer/Joining Letter No :</p>
                        </div>
                        <div class="col-4">
                            <input class="form-control" [(ngModel)]="joiningObj['offer_letter_no']">
                        </div>

                    </div>
                    <br>
                    <div class="row">
                        <div class="col-3">
                            <p>Joining Date :</p>
                        </div>
                        <div class="col-4">
                            <input type="date" class="form-control" [(ngModel)]="joiningObj['joining_date']">
                        </div>
                    </div>

                    <br>
                    <div class="row">

                        <div class="col-3">
                            <p>Father Name :</p>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" [(ngModel)]="joiningObj['emp_father_name']">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-3">
                            <p>Choose Status</p>
                        </div>
                        <div class="col-4">
                            <ng-select [items]="status" bindLabel="value" bindValue="code" [(ngModel)]="joiningObj['status']">
                            </ng-select>

                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-12 text-center">
                            <button class="btn btn-primary" (click)="submit()">SUBMIT</button>
                        </div>

                    </div>
                    <br>
                </div>
            </div>

        </div>

    </div>