<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Bank Details</div>
                </div>
                <div class="ibox-body">
                    <ul class="nav nav-tabs tabs-line">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tab-7-1" data-toggle="tab"><i
                                    class="fa fa-line-chart"></i> Bank List</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#tab-7-2" data-toggle="tab"><i class="fa fa-plus"></i> Add
                                Bank Detail</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-7-3" data-toggle="tab"><i class="fa fa-pencil-square-o"></i> Update
                                Bank Detail</a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-7-1">
                            <mat-form-field style="margin-left: 2%">
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                            </mat-form-field>
                            <div class="example-container">

                                <table mat-table [dataSource]="datasource" matSort>

                                    <!-- Position Column -->
                                    <ng-container matColumnDef="emp_id">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> ID </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.emp_id}} </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="emp_name">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Name </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.emp_first_name}} {{element.emp_middle_name}} {{element.emp_last_name}} </td>
                                    </ng-container>

                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="emp_primary_phone_no">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Phone No. </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.emp_primary_phone_no}} </td>
                                    </ng-container>

                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="bank_cd">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Bank </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.bank_cd}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="ifsc_cd">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> IFSC </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.ifsc_cd}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="bank_account_no">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Account No </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.bank_account_no}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="pf_account_no">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> PF Account No </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.pf_account_no}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="pan_no">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> PAN </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.pan_no}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Action </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right">
                                            <button class="btn btn-primary">Update</button>


                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>

                                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-7-2">
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    Select Employee :
                                </div>
                                <div class="col-4">
                                    <ng-select [items]="allEmp" bindLabel="name" bindValue="emp_id" [(ngModel)]="addbankObj['emp_id']">
                                    </ng-select>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    Enter Bank Account No :
                                </div>
                                <div class="col-4">
                                    <input class="form-control" [(ngModel)]="addbankObj['bank_account_no']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    Enter IFSC :
                                </div>
                                <div class="col-4">
                                    <input class="form-control" [(ngModel)]="addbankObj['ifsc_cd']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    Enter Bank :
                                </div>
                                <div class="col-4">
                                    <input class="form-control" [(ngModel)]="addbankObj['bank_cd']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    Enter PF Account No :
                                </div>
                                <div class="col-4">
                                    <input class="form-control" [(ngModel)]="addbankObj['pf_account_no']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-4 text-right">
                                    Enter PAN :
                                </div>
                                <div class="col-4">
                                    <input class="form-control" [(ngModel)]="addbankObj['pan_no']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <button class="btn btn-primary" (click)="submit()">SUBMIT</button>
                                </div>

                            </div>
                            <br>


                        </div>

                    </div>
                    <br>
                </div>
            </div>


        </div>

    </div>
</div>