<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Posting Info</div>
                </div>
                <div class="ibox-body">
                    <ul class="nav nav-tabs tabs-line">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tab-2-1" data-toggle="tab"><i class="fa fa-line-chart"></i> Employee Posting List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-2-2" data-toggle="tab"><i class="fa fa-plus"></i> Add</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-2-3" data-toggle="tab"><i class="fa fa-pencil-square-o"></i> Update</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-2-1">
                            <mat-form-field style="margin-left: 2%">
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                            </mat-form-field>
                            <div class="example-container">

                                <table mat-table [dataSource]="datasource" matSort>

                                    <!-- Position Column -->
                                    <ng-container matColumnDef="emp_id">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> ID </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.emp_id}} </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="emp_name">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Name </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.emp_first_name}} {{element.emp_middle_name}} {{element.emp_last_name}} </td>
                                    </ng-container>

                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="from_date">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> From Date </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.from_date}} </td>
                                    </ng-container>

                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="to_date">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> To Date </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.to_date}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="department_cd">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Department </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.department_cd}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="project_cd">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Project </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.project_cd}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="work">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Work </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.work}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="role_cd">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Role </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right"> {{element.role_cd}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef class="center" mat-sort-header> Action </th>
                                        <td mat-cell flex-stretch *matCellDef="let row;let element" class="right">
                                            <button class="btn btn-primary">Update</button>
                                            <button class="btn btn-danger" (click)="deletePosting(element)">Delete</button>

                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>

                                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-2-2">
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <p>Select Employee</p>
                                </div>
                                <div class="col-4">
                                    <ng-select [items]="allEmp" bindLabel="name" bindValue="emp_id" [(ngModel)]="postObj['emp_id']">
                                    </ng-select>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <p>Select From Date</p>
                                </div>
                                <div class="col-4">
                                    <input type="date" class="form-control" [(ngModel)]="postObj['from_date']">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <p>Select To Date</p>
                                </div>
                                <div class="col-4">
                                    <input type="date" class="form-control" [(ngModel)]="postObj['to_date']">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <p>Select To Department</p>
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" [(ngModel)]="postObj['department_cd']">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <p>Select Project</p>
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" [(ngModel)]="postObj['project_cd']">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <p>Enter Work Details</p>
                                </div>
                                <div class="col-4">
                                    <textarea class="form-control" [(ngModel)]="postObj['work']"></textarea>

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <p>Select Role</p>
                                </div>
                                <div class="col-4">
                                    <input class="form-control" [(ngModel)]="postObj['role_cd']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <button class="btn btn-primary" (click)="addPosting()">SUBMIT</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-2-3">

                        </div>

                    </div>
                    <br>
                </div>
            </div>


        </div>

    </div>
</div>